################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/Defense/.vs/Practice0702_2010/v16
/Defense/Debug
/Defense/Release
/Defense/x64
